<% if current_user.has_role?('administrator') %>
    <div class='resource_navigation'>
      <%= link_to 'Back', {:action => :index} %>
    </div>
<% end %>
<div class="resource_name">Edit User</div>
<%= form_for @resource do |f| %>
    <div>
      <%= f.label :notification_time, "Time to suppress notification of applicants added (in hours, 0 to always send notifications):" %><br />
      <%= f.text_field :notification_time %>
    </div>
    <div>
      <%= f.label :new_hire_expiration, "Expiration for Display of New Hire Requests (in days, 0 for no expiration):" %><br />
      <%= f.text_field :new_hire_expiration %>
    </div>
    <div>
      <%= f.submit 'Update' %>
    </div>
<% end %>
<% if current_user.has_role?('administrator') %>
    <%=
    render :partial => 'application/drag_and_drop', :locals => {
            :target => @resource,
            :current_items => :departments,
            :item_tooltip => :to_s,
            :potential_items => Department,
            :submit_path => generic_reordering_path(:id => @resource.id, :source_name => "departments", :link_class => "RemoteUserDepartment", :resource_class => "Department"),
            :header => "Departments",
            :header_name => ''
    }
    %>

    <% if @resource.submissions.count > 0 %>
    <div>
      <h3>Bulk Submission Permission Modification</h3>
    </div>
    <div>
      <%= link_to "Remove all Submissions (#{@resource.submissions.count})", bulk_submissions_modify_path(:type => 'remove', :id => @resource.id) %>
    </div>
    <hr />
    <div>
      Copy Submissions to Another User:<br />
      <%= form_tag bulk_submissions_modify_path(:type => 'copy', :id => @resource.id) %>
        <%= select_tag :new_user_id, options_for_select(RemoteUser.order('last_name, first_name').all.collect{|ru| [ru.to_s, ru.id]}) %>
        <%= submit_tag 'Copy' %>
      </form>
    </div>
    <% end %>
    <div class='resource_navigation'>
      <%= link_to 'Back', {:action => :index} %>
    </div>
<% end %>
