<div class="resource_name">Edit <%= controller_name.singularize.titleize %></div>
<%= form_for @resource do |f| %>
    <div>
      <%= f.label :position_id, "Position" %><br />
      <%= f.select :position_id, Position.list_for_select, :prompt => "Select a position..." %>
    </div>
    <div>
      <%= f.label :department_id, "Department" %><br />
      <%= f.select :department_id, Department.list_for_select, :prompt => "Select a department..." %>
    </div>
    <div>
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :high_priority_description %><br />
      <%= f.text_area :high_priority_description %>
    </div>
    <div>
      <%= f.submit 'Update' %>
    </div>
<% end %>

<%=
    render :partial => 'application/drag_and_drop', :locals => {
            :target => @resource,
            :current_items => :question_groups,
            :item_tooltip => :questions_for_tooltip,
            :potential_items => QuestionGroup,
            :submit_path => generic_reordering_path(:id => @resource.id, :source_name => "question_group", :link_class => "OpeningGroupConnection", :resource_class => "Opening"),
            :header => "Question Groups (Drag question groups to select or reorder.  Hover to view questions in group)",
            :header_name => 'Question Groups'
    }
%>

<%=
    render :partial => 'application/drag_and_drop', :locals => {
            :target => @resource,
            :current_items => :pre_dynamic_files,
            :current_items2 => :pre_dynamic_form_groups,
            :item_tooltip => :tooltip,
            :potential_items => DynamicFile,
            :potential_items2 => DynamicFormGroup,
            :submit_path => generic_reordering_path(:id => @resource.id, :source_name => "file", :link_class => "DynamicFormOpeningLink", :resource_class => "Opening", :frags => ['form_type', 'opening_id'], :values => ['pre', @resource.id], :suppress_rc => 1),
            :header => "Pre-Employment Forms (Drag forms to select or reorder.  Hover to view forms in group)",
            :header_name => 'Forms',
            :potential_name2 => 'Potential Form Groups',
            :potential_name => 'Potential Forms'
    }
%>

<%=
    render :partial => 'application/drag_and_drop', :locals => {
            :target => @resource,
            :current_items => :post_dynamic_files,
            :current_items2 => :post_dynamic_form_groups,
            :item_tooltip => :tooltip,
            :potential_items => DynamicFile,
            :potential_items2 => DynamicFormGroup,
            :submit_path => generic_reordering_path(:id => @resource.id, :source_name => "file", :link_class => "DynamicFormOpeningLink", :resource_class => "Opening", :frags => ['form_type', 'opening_id'], :values => ['post', @resource.id], :suppress_rc => 1),
            :header => "Post-Employment Forms (Drag forms to select or reorder.  Hover to view forms in group)",
            :header_name => 'Forms',
            :potential_name2 => 'Potential Form Groups',
            :potential_name => 'Potential Forms'
    }
%>

<script type="text/javascript">
    $(document).ready(function() {
        $.get('/openings/description/<%= Position.first.try(:id) %>', function(data, textStatus, jqXHR) {
            $('#opening_description').val(data);
        });
        $('#opening_position_id').change(function() {
            $.get('/openings/description/' + $('#opening_position_id').val(), function(data, textStatus, jqXHR) {
                $('#opening_description').val(data);
            });
        });
    });
</script>