%div= link_to 'Back', {:action => :index}
%table.resource_index
  %tr
    %th Gender
    %th Race
    %th Veteran Status
    %th Application Time
  - @resource.demographics.each do |d|
    %tr{:class => cycle('odd', 'even')}
      %td= d.gender
      %td= d.race
      %td= d.veteran
      %td= d.created_at
