<div class="resource_name">Edit <%= controller_name.singularize.titleize %></div>
<%= form_for @resource do |f| %>
    <div>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.submit 'Update' %>
    </div>
<% end %>
<%=
    render :partial => 'application/drag_and_drop', :locals => {
        :target => @resource,
        :current_items => :questions,
        :item_tooltip => :to_s,
        :potential_items => Question,
        :submit_path => generic_reordering_path(:id => @resource.id, :source_name => "question", :link_class => "QuestionGroupConnection", :resource_class => "QuestionGroup", :frags => ['question_group_id'], :values => [@resource.id], :suppress_rc => 1),
        :header => "Questions (drag to reorder)",
        :header_name => 'Questions'
}
%>
