<%= form_tag({:action => :index}, :method => :get) do %>
    <div class='filtering'>
      <div class='filtering_row'>
        <div class='filter_name'>
          Name:
        </div>
        <div class='filter_inputs'>
          <%= text_field_tag 'name', session[:applicants][:name] %>
        </div>
      </div>
      <div class='filtering_row'>
        <div class='filter_name'>
          Select Tags:
        </div>
        <div class='filter_inputs'>
          <%= select_tag 'tags', options_for_select([['None', 0]] + TagType.all.collect{|tt| [tt.name, tt.id]}, session[:applicants][:tags]), :multiple => true, :size => 5 %>
        </div>
      </div>
      <div class="filtering_row">
        <%= submit_tag 'Filter' %>
      </div>
    </div>
<% end %>
<div class="show_emails">
  <%= link_to 'Send Email to Filtered Applicants', send_email_to_users_path %>
</div>
<div class="hide_emails" style="display: none">
  <%= link_to 'Hide Email Block', '#' %>
  <div>
    <%= form_tag send_email_to_filtered_users_path %>
        Subject: <%= text_field_tag :subject, '', :style => 'width: 500px' %><br />
        Message: <%= text_area_tag :message %><br />
        <%= submit_tag 'Send Email' %>
    </form>
  </div>
</div>
<%= paginate @resources %>
<hr />
<% @klass ||= controller_name.singularize.constantize %>

<% unless @suppress_new %>
    <div class='new_resource'>
      <%= link_to "New #{controller_name.singularize.titleize}", {:action => :new} %>
    </div>
<% end %>
<% attributes_to_display = @klass.respond_to?('indexed_attributes') ? @klass.indexed_attributes : @klass.attribute_names.reject{|an| %w(id created_at updated_at).include? an} %>
<table class='resource_index'>
  <tr>
    <% attributes_to_display.each do |j| %>
        <th data-type="<%= j.gsub(/\W/, '') %>"><%= j.humanize %></th>
    <% end %>
    <th>Commands</th>
  </tr>

  <%
     sorted_orders = {}
     attributes_to_display.each do |j|
       sorted_orders[j] = @resources.sort_by{|k| k.send(j).to_s.gsub(/\W/, '')}.collect{|r| r.id}
     end
  %>

  <% @resources.each do |r| %>
      <tr class="<%= cycle('odd','even') %>" <%= raw attributes_to_display.collect{|a| "data-#{a}='#{sorted_orders[a].index(r.id)}'"}.join(" ") %>>
        <% attributes_to_display.each do |j| %>
            <% l = r.send(j.gsub(/_id$/, '')) %>
            <td><%= raw(l.is_a?(Array) ? l.join("<br />") : (l.is_a?(String) ? l.gsub(/\n/, '<br />') : l)) %></td>
        <% end %>
        <td><%= link_to 'View', applicant_view_path(r) %><% if r.last_sign_in_at < 3.months.ago and current_user.has_role?('administrator') %>&middot; <%= link_to 'Delete', applicant_destroy_path(r), :confirm => 'This will permanently delete this profile', :method => :delete %><% end %></td>
      </tr>
  <% end %>
</table>

<% unless @suppress_new %>
    <div class='new_resource'>
      <%= link_to "New #{controller_name.singularize.titleize}", {:action => :new} %>
    </div>
<% end %>

<script type="text/javascript">
    var lastClicked = '';
    var maxNum = <%= @resources.size - 1 %>;
    $(document).ready(function() {
        $('.resource_index th[data-type]').click(function(e) {
            window.location.href = '<%= applicants_path %>?sort_order=' + $(e.target).closest('[data-type]').attr('data-type');
        });

        $('.show_emails a, .hide_emails a').click(function(e) {
            e.preventDefault();
            $('.show_emails, .hide_emails').toggle();
        });
    });
</script>