<div class="header">Applicant Profile</div>
<%= form_for(@applicant, :url => profile_update_path) do |f| %>
    <div class="profile_row"><%= f.label :first_name %><br /><%=  f.text_field :first_name %></div>
    <div class="profile_row"><%= f.label :last_name %><br /><%=  f.text_field :last_name %></div>
    <div class="profile_row"><%= f.label :preferred_name %><br /><%=  f.text_field :preferred_name %></div>
    <div class="profile_row"><%= f.label :home_phone %><br /><%=  f.text_field :home_phone %></div>
    <div class="profile_row"><%= f.label :cell_phone %><br /><%=  f.text_field :cell_phone %></div>
    <div class="profile_row"><%= f.label :address_1, 'Address Line 1' %><br /><%=  f.text_field :address_1 %></div>
    <div class="profile_row"><%= f.label :address_2, 'Address Line 2' %><br /><%=  f.text_field :address_2 %></div>
    <div class="profile_row"><%= f.label :city %><br /><%=  f.text_field :city %></div>
    <div class="profile_row"><%= f.label :state, 'State/Province' %><br /><%=  f.select :state, grouped_options_for_select(Vae::STATES.reject{|k,v| k == "countries"}, @applicant.state) %></div>
    <div class="profile_row"><%= f.label :zip %><br /><%=  f.text_field :zip %></div>
    <div class="profile_row"><%= f.label :country %><br /><%=  f.select :country, options_for_select(Vae::STATES["countries"], @applicant.country) %></div>
    <div class="profile_row">
      <strong>Applicant Files:</strong><br />
      <% @applicant.applicant_files.each do |af| %>
          <%= af[:applicant_file_store] %><br />
      <% end %>
    </div>
    <div class="profile_row">
      <%= f.fields_for :applicant_files, ApplicantFile.new(:applicant_id => @applicant.id) do |builder| %>
          <%= builder.file_field :applicant_file_store %>
      <% end %>
    </div>

    <div class="profile_row"><%= f.submit "Update" %></div>
<% end %>

<div class="applied_for">
  Positions Applied For:
  <table>
    <tr>
      <th>Position</th>
      <th>Date Applied</th>
    </tr>
    <% @applicant.submissions.each do |s| %>
        <tr>
          <td><%= s.opening %></td>
          <td><%= s.completed_at %></td>
        </tr>
    <% end %>
  </table>
</div>