<div class="TextHeader">New applicant - <%= @submission.opening.name %></div>
<p><%= t('required_question') %></p>

<%= form_for @submission, :url => submit_application_path(:submission_id => @submission.id) do |f| %>

    <table class="submission">
      <% bio_submission_fields(@submission).each do |line| %>
          <tr>
            <td class="submission_bio_prompt"><%= line[0] %></td>
            <td class="submission_answer"><%= line[3] ? f.send(line[2] || :text_field, line[1], line[3]): f.send(line[2] || :text_field, line[1]) %></td>
          </tr>
      <% end %>
      <tr>
        <td class="submission_bio_prompt"><%= t('sourcing_question') %></td>
        <td class="submission_answer">
          <%= select_tag :fake_where_sourced, options_for_select(Vae::SOURCES, @submission.where_sourced), :prompt => 'Please select a source.' %>
          <span id="hidden_where_sourced"><%= f.text_field :where_sourced %></span>
        </td>
      </tr>
      <% last_group = 0 %>
      <% @submission.submission_answers.each do |sa| %>
          <% if sa.group_order != last_group %>
              <tr>
                <td colspan="2" class="spacer"> &nbsp; </td>
              </tr>
              <% last_group = sa.group_order %>
          <% end %>
          <tr>
            <td class="submission_prompt<%= (sa.question.required and sa.answer.blank? and @retrying) ? ' needed' : '' %>"><%= sa.question_text %><%= sa.question.required ? '*' : '' %></td>
            <td class="submission_answer">
              <%= f.fields_for :submission_answers, sa do |g| %>
                  <%= get_question_field(g, sa) %>
              <% end %>
            </td>
          </tr>
      <% end %>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="2" class="fullwidth">
          <%= t('resume_include') %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="2" class="fullwidth">
          <span style="color:red"><%= t('no_photos') %></span>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <% if @submission.applicant_files.size > 0 %>
        <tr>
          <td colspan="2" class="fullwidth">
            <strong>Resumes/Documents already uploaded for this application:</strong>
            <% @submission.applicant_files.each do |af| %>
                <br /><%= af[:applicant_file_store] %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td colspan="2" class="fullwidth">
          <% 2.times do %>
              <%= f.fields_for :applicant_files, ApplicantFile.new(:submission_id => @submission.id) do |builder| %>
                  <%= builder.file_field :applicant_file_store %>
              <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="2" class="fullwidth">
          <%= t('digital_format_note') %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="2" class="fullwidth">
          <%= t('fax_resume_note') %>
          <%= t('admins.primary.fax') %><br />
          Attention: <%= t('admins.primary.name') %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="2" class="fullwidth">
          <strong><%= t('self_identify_header') %></strong>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <tr>
        <td colspan="2">
          <%= t('self_identify_para_1') %><br /><br />
          <%= t('self_identify_para_2') %><br /><br />
          <%= t('self_identify_para_3') %><br /><br />
          <%= raw t('self_identify_para_4') %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="spacer"> &nbsp; </td>
      </tr>
      <%= f.fields_for :demographic, @submission.demographic || @submission.create_demographic do |g| %>
          <tr>
            <td class="submission_prompt"><%= t('submission.gender_label') %></td>
            <td class="submission_answer"><%= g.select :gender, Vae::SUBMISSIONS['genders'], :include_blank => true %></td>
          </tr>
          <tr>
            <td class="submission_prompt"><%= t('submission.race_label') %></td>
            <td class="submission_answer"><%= g.select :race, Vae::SUBMISSIONS['races'], :include_blank => true %></td>
          </tr>
          <tr>
            <td class="submission_prompt"><%= t('submission.veteran_label') %></td>
            <td class="submission_answer"><%= g.select :veteran, Vae::SUBMISSIONS['veteran'], :include_blank => true %></td>
          </tr>
      <% end %>
      <tr>
        <td colspan="2">
          <%= t('certify_note') %>
        </td>
      </tr>
      <tr>
        <td colspan="2"<%= raw (@retrying and !@submission.affidavit) ? ' class="needed"' : '' %>>
          <%= f.check_box :affidavit %>* <%= t('affidavit') %>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="fullwidth"><%= f.submit 'Submit' %></td>
      </tr>
    </table>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#fake_where_sourced').change(function (e) {
            switch ($('#fake_where_sourced').selected) {
                case 'Other' :
                    $('#submission_where_sourced').val('');
                    $('#hidden_where_sourced').show();
                    break;
                default :
                    $('#hidden_where_sourced').hide();
                    $('#submission_where_sourced').val($('#fake_where_sourced').val());
                    break;
            }
        });
    });
</script>