<%= form_tag({:action => :index}, :method => :get) do %>
    <div class='filtering'>
      <div class='filtering_row'>
        <div class='filter_name'>
          Name:
        </div>
        <div class='filter_inputs'>
          <%= text_field_tag 'name', session[:submissions][:name] %>
        </div>
      </div>
      <div class='filtering_row'>
        <div class='filter_name'>
          Position:
        </div>
        <div class='filter_inputs'>
          <%= select_tag 'opening_id', options_for_select([['All Positions', 0]] + Opening.joins([:position, :department]).includes([:position, :department]).order('positions.name, departments.state').all.collect{|o| [o.to_s, o.id]}, session[:submissions][:opening_id]) %>
        </div>
      </div>
      <div class="filtering_row">
        <%= submit_tag 'Filter' %>
      </div>
    </div>
<% end %>
<hr />
<%= paginate @resources %>
<table class='resource_index'>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Application on File</th>
    <th>Email</th>
    <th>City, State</th>
    <th>Openings</th>
    <th>Date Applied</th>
    <th>Priority</th>
    <th>Comments</th>
  </tr>
  <% @resources.each do |r| %>
      <tr class="<%=cycle('odd', 'even') %>">
        <td><%= r.first_name %></td>
        <td><%= r.last_name %></td>
        <td><%= link_to 'View Application', r %></td>
        <td><%= r.email %></td>
        <td><%= r.city_state %></td>
        <td><%= r.opening %></td>
        <td><%= r.created_at.to_s(:with_zone) %></td>
        <td>
          <div><% if current_user.has_role?('administrator') %>
                <%= select_tag "#{r.id}_recommendation", options_for_select(Vae::RECRUITER_RECOMMENDATION, r.recruiter_recommendation) %>
            <% else %>
                <%= r.recruiter_recommendation %>
            <% end %></div>
          <%= raw r.tags.collect{|t| "<div class='tag_in_submission qtip_target' data-qtip='#{j t.tag_type.try(:tooltip)}'>- #{t}</div>"}.join('') %>
          <div>Applicant Tags:</div><%= raw r.applicant.tags.collect{|t| "<div class='tag_in_submission qtip_target' data-qtip='#{j t.tag_type.try(:tooltip)}'>- #{t}</div>"}.join('') %>
        </td>
        <td>
          <% if r.comments.size > 0 %>
              <%= link_to r.comments.order(:created_at).last.created_at.to_s(:with_zone), submission_path(:id => r.id, :anchor => "comments") %>
          <% end %>
        </td>
      </tr>
  <% end %>
</table>
<%= paginate @resources %>
<script type='text/javascript'>
    $(document).ready(function() {
        $('table select').change(function(e) {
            console.info($(e.target));
            $.ajax({
                url: '/submission/' + $(e.target).attr('id').replace('_', '/'),
                data: 'recommendation=' + $(e.target).val()
            })
        });
    })
</script>