<table class='resource_index'>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Application on File</th>
    <th>Email</th>
    <th>City, State</th>
    <th>Openings</th>
    <th>Date Applied</th>
    <th>Priority</th>
    <th>Comments</th>
  </tr>
  <% @resources.each do |r| %>
    <tr class="<%=cycle('odd', 'even') %>">
      <td><%= r.first_name %></td>
      <td><%= r.last_name %></td>
      <td><%= link_to 'View Application', r %></td>
      <td><%= r.email %></td>
      <td><%= r.city_state %></td>
      <td><%= r.opening %></td>
      <td><%= r.created_at.to_s(:with_zone) %></td>
      <td>
        <%= select_tag "#{r.id}_recommendation", options_for_select(Vae::RECRUITER_RECOMMENDATION, r.recruiter_recommendation) %><br />
        <%= r.tags.collect{|t| t.to_s}.join(", ") %>
      </td>
      <td>
        <% if r.comments.size > 0 %>
          <%= link_to r.comments.order(:created_at).last.created_at.to_s(:with_zone), submission_path(:id => r.id, :anchor => "comments") %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<script type='text/javascript'>
  $(document).ready(function() {
    $('table select').change(function(e) {
      console.info($(e.target));
      $.ajax({
        url: '/submission/' + $(e.target).attr('id').replace('_', '/'),
        data: 'recommendation=' + $(e.target).val()
      })
    });
  })
</script>