<% @unique_id ||= 0 %>
<% @unique_id += 1 %>

<% width_class = (defined?(potential_items2) and potential_items2) ? 'width3' : 'width2' %>
<% current_name ||= "Current #{header_name}" %>
<% potential_name ||= "Potential #{header_name}" %>
<% potential_name2 ||= "Potential #{header_name}" %>


<div class="header"><%= header %></div>
<% if defined?(bulk_move) %>
    <div class="bulk_move_<%= @unique_id %>">
    <%= raw bulk_move %>
    </div>
<% end %>
<div class="questions_container">
  <div class="questions linked_list<%= @unique_id %> <%= width_class %> storage<%= @unique_id %>">
    <%= current_name %>:
    <% target.send(current_items).each do |qg| %>
        <div id="items[<%=qg.class.name %>]_<%= qg.id %>" class='question_row qtip_target' data-qtip="<%= raw qg.send(item_tooltip) %>"><%= qg.to_s %></div>
    <% end %>
    <% if defined?(current_items2) %>
        <% target.send(current_items2).each do |qg| %>
            <div id="items[<%=qg.class.name %>]_<%= qg.id %>" class='question_row qtip_target' data-qtip="<%= raw qg.send(item_tooltip) %>"><%= qg.to_s %></div>
        <% end %>
    <% end %>
  </div>
  <div class="questions_origin linked_list<%= @unique_id %> <%= width_class %>">
    <%= potential_name %>:
    <%
       if potential_items.is_a? Class
         these_items = potential_items.where(["id not in (?)", [-1] + target.send(current_items).collect{|qg| qg.id}])
       else
         if potential_items.is_a? Array
           these_items = potential_items - target.send(current_items)
         else
           these_items = potential_items.all - target.send(current_items)
         end
       end

       these_items.each do |qg| %>
        <div id="items[<%=qg.class.name %>]_<%= qg.id %>" class='question_row qtip_target' data-qtip="<%= raw qg.send(item_tooltip) %>"><%= qg.to_s %></div>
    <% end %>
  </div>
  <% if defined?(potential_items2) %>
      <div class="questions_origin linked_list<%= @unique_id %> <%= width_class %>">
        <%= potential_name2 %>:
        <% potential_items2.where(['id not in (?)', [-1] + target.send(current_items2).collect{|qg| qg.id}]).each do |qg| %>
            <div id="items[<%=qg.class.name %>]_<%= qg.id %>" class='question_row qtip_target' data-qtip="<%= raw qg.send(item_tooltip) %>"><%= qg.to_s %></div>
        <% end %>
      </div>
  <% end %>
</div>
<div class='float_clear'></div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.linked_list<%= @unique_id %> div').dblclick(function(e) {
            e.preventDefault();
            $('.linked_list<%= @unique_id %>').not($(e.target).closest('.linked_list<%= @unique_id %>')).append(e.target);
            <% unless defined?(no_min_height) %>
            checkHeightOfItems('.linked_list<%= @unique_id %>');
            <% end %>
            sendInfoToServer<%= @unique_id %>();
        });
        $('.linked_list<%= @unique_id %>').sortable({
            connectWith: '.linked_list<%= @unique_id %>',
            items: '.question_row',
            stop: function(event, ui) {
                if (ui.item.qtip('api')) {
                    ui.item.qtip("hide");
                }
                <% unless defined?(no_min_height) %>
                checkHeightOfItems('.linked_list<%= @unique_id %>');
                <% end %>
                sendInfoToServer<%= @unique_id %>();
            }
        }).disableSelection();
        sendInfoToServer<%= @unique_id %> = function() {
            $.ajax({
                url: "<%= submit_path %>",
                data: $('.storage<%= @unique_id %>').sortable('serialize')
            });
        };
        <% unless defined?(no_min_height) %>
        checkHeightOfItems('.linked_list<%= @unique_id %>');
        <% end %>

        $('.bulk_move_<%= @unique_id %> .bulk_mover').click(function(e) {
            var ops = $(e.target).attr('data-multiples').toString().split(',');
            for (i = 0; i < ops.length; i++) {
                $('.storage<%= @unique_id %>').append($('.questions_container [id$="_' + ops[i] + '"]'));
            }
            $('.bulk_move_<%= @unique_id %>').hide();
            $('.linked_list<%= @unique_id %>').sortable('refresh');
        });
    });
</script>