<% klass = controller_name.classify.constantize %>
<div class="resource_name">Edit <%= controller_name.singularize.titleize %></div>
<%= form_for @resource do |f| %>
    <% klass.send(klass.respond_to?('edittable_attributes') ? 'edittable_attributes' : 'attribute_names').reject{|an| %w(id created_at updated_at).include?(an)}.each do |j| %>
        <div>
          <%= f.label j, j.titleize %><br />
          <%= f.send(klass.respond_to?(j + "_type_override") ? klass.send(j + "_type_override") : :text_field, j) %>
        </div>
    <% end %>
    <div>
      <%= f.submit 'Update' %>
    </div>
<% end %>