<% klass = controller_name.classify.constantize %>
<% attributes_to_display = klass.respond_to?('indexed_attributes') ? klass.indexed_attributes : klass.attribute_names.reject{|an| %w(id created_at updated_at).include? an} %>
<table class='resource_index'>
  <tr>
    <% attributes_to_display.each do |j| %>
        <th><%= j.humanize %></th>
    <% end %>
    <th>Commands</th>
  </tr>
  <% @resources.each do |r| %>
      <tr class="<%= cycle('odd','even') %>">
        <% attributes_to_display.each do |j| %>
            <% l = r.send(j.gsub(/_id$/, '')) %>
            <td><%= l.is_a?(Array) ? raw(l.join("<br />")) : l %></td>
        <% end %>
        <td><%= link_to 'Edit', :action => :edit, :id => r.id %> &middot; <%= link_to 'Delete', r, :method => :delete, :confirm => "Are you sure?" %><%= additional_commands(r) %></td>
      </tr>
  <% end %>
</table>

<div class='new_resource'>
  <%= link_to "New #{controller_name.singularize.titleize}", {:action => :new} %>
</div>