<!DOCTYPE html>
<html>
<head>
  <title>VAE Careers</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag '/assets/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body class="internal">
<div class='menu_bar'>
  <div class="menu_image">
    <%= image_tag 'interface_01.jpg' %>
  </div>
  <div class="menu_links">
    <%= link_to 'Submissions', submissions_path %>
    <%= link_to 'New Hire Requests', new_hire_requests_path %>
  </div>
  <% if current_user.has_role?('administrator') %>
      <div class="menu_links">
        <%= link_to 'Applicants', applicants_path %>
        <%= link_to 'Position Types', position_types_path %>
        <%= link_to 'Positions', positions_path %>
        <%= link_to 'Questions', questions_path %>
        <%= link_to 'Question Groups', question_groups_path %>
        <%= link_to 'Openings', openings_path %>
        <%= link_to 'Generate OPP', opp_path %>
        <%= link_to 'Static Texts', static_texts_path %>
        <%= link_to 'Tag Types', tag_types_path %>
        <%= link_to 'Files', dynamic_files_path %>
        <%= link_to 'Form Groups', dynamic_form_groups_path %>
        <%= link_to 'New Hire Skills', new_hire_skills_path %>
        <%= link_to 'Reports', reports_path %>
      </div>
  <% end %>
</div>
<p class='notice'><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<div class="footer">
  <% if current_user %>
      <%= link_to 'Log Out', logout_path %>
  <% end %>
</div>
</body>
</html>
