<!DOCTYPE html>
<html>
<head>
  <title>VAE Careers</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='menu_bar'>
    <div class="menu_link">
      <%= link_to 'Position Types', position_types_path %>
    </div>
  <div class="menu_link">
    <%= link_to 'Positions', positions_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Questions', questions_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Question Groups', question_groups_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Openings', openings_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Generate OPP', opp_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Static Texts', static_texts_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Tag Types', tag_types_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Submissions', submissions_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Files', dynamic_files_path %>
  </div>
  <div class="menu_link">
    <%= link_to 'Forms', dynamic_form_groups_path %>
  </div>
</div>
<p class='notice'><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<div class="footer">
  <% if current_user %>
  <%= link_to 'Log Out', logout_path %>
  <% end %>
</div>
</body>
</html>
