<!DOCTYPE html>
<html>
<head>
  <title>VAE Careers</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<div class="footer">
  <% if current_user or current_applicant %>
    <%= link_to 'Sign Out', logout_path %>
    <% if current_applicant %>
      <%= link_to 'Update Account', edit_registration_path(current_applicant) %>
      <%= link_to 'Update Profile', profile_path %>
    <% end %>
  <% else %>
    <%= link_to 'Login', new_applicant_session_path %>
  <% end %><br />
  <%= link_to 'Current Openings', root_path %>
</div>
</body>
</html>
